* {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-family: 'Poiret One', sans-serif;
  margin: 0px;
}

html {
  scroll-behavior: smooth;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: #545454;
  margin: 0px;
}

.NavBar {
  display: flex;
  flex-direction: row;
}

.NavBar a {
  text-decoration: none;
  margin: 0px 20px;
  padding: 5px;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
}

.home-container {
  background-image: url("images/lianny.jpg");
  opacity: 0.6;
  min-height: 88vh;
  background-size: cover;
  background-position: center;
  padding: 0px;
  margin: 0px;
}

.NavBar a:hover { 
  opacity: 0.5;
}

.aboutus a:hover {
  opacity: 0.5;
}

#title {
  color: black;
  padding-top: 300px;
  margin-left: 30px;
}

.home-container h2 {
  color: black;
  padding-top: 20px;
  margin-left: 30px;
}

.home-container h3 {
  color: black;
  padding-top: 20px;
  margin-left: 30px;
  width: 400px;
}

.aboutus {
  padding: 0px;
  margin: 0px;
  background-color: rgb(49, 49, 49);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutus h1 {
  text-align: justify;
  padding-top: 30px;
}

.aboutus h2 {
  padding-top: 40px;
}

.aboutus h3 {
  padding-top: 20px;
  text-align: justify;
  width: 800px;
}

.aboutus a {
  margin-top: 35px;
  margin-bottom: 15px;
}

.hard-skills-container {
  padding: 0px;
  margin: 0px;
  background-color: black;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.hard-skills {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: space-around;
  flex-wrap: wrap;
  width: 100%;

}

.card img {
  width: 50px;
  margin: 20px;
}

.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 500px;
  margin: 20px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: white;
}

.hard-skills-container h1 {
  padding-bottom: 50px;
}