* {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-family: 'Poiret One', sans-serif;
  margin: 0px;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  margin: 0px;
}

.NavBar {
  display: flex;
  flex-direction: row;
}

.NavBar a {
  text-decoration: none;
  margin: 0px 20px;
  padding: 5px;
  color: black;
  border: 1px solid orange;
  border-radius: 5px;
}

.home-container {
  background-image: url("images/lianny.jpg");
  opacity: 0.6;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  padding: 0px;
  margin: 0px;
}

#title {
  color: black;
  padding-top: 300px;
  margin-left: 30px;
}

.home-container h2 {
  color: black;
  padding-top: 20px;
  margin-left: 30px;
}

.home-container h3 {
  color: black;
  padding-top: 20px;
  margin-left: 30px;
}